# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
migrations/

# Backup files #
*.bak

# Environments
.env
.venv
env/
venv/
ENV/
betanyEnv/
env.bak/
venv.bak/

# Visual Studio Code #
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# mac
.DS_Store


