{% extends 'base_generic.html' %}

{% block title %}All Bets{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {% if request.user_bets %}
    <ul>
    {% for user_bet in request.user_bets %}
      <div>
        <div>Description: {{user_bet.description}}</div>
        <div>Amount: {{user_bet.bettor_amount}}</div>
      </div>
      </br>
    {% endfor %}
    </ul>
{% else %}
    <p>No bets are available.</p>
{% endif %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}